/* You can add global styles to this file, and also import other style files */
.fit {
  max-width: 99%;
}

/*.refuse-img {
  background-image: url('src/assets/homepage.jpg');
  background-size: cover;
}*/